# Credenciais do Codeforces. Disponível em: https://codeforces.com/settings/api
API_KEY=
API_SECRET=

# Dados do Group e Contest do Codeforces
# A url tem o seguinte formato: https://codeforces.com/group/{GROUP_CODE}/contest/{CONTEST_ID}
GROUP_CODE=
CONTEST_ID=